<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<section name="musicLogic" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection, Unity.Configuration" />
	</configSections>
	<musicLogic xmlns="http://schemas.microsoft.com/practices/2010/unity">
		<assembly name="Grammophone.Domos.Tests.Music.DataAccess" />
		<assembly name="Grammophone.Domos.Tests.Music.Cases.EntityFrameworkCore" />
		<assembly name="Grammophone.Domos.Tests.Music.Logic" />
		<assembly name="Grammophone.Domos.AccessChecking" />
		<container>
			<register type="Grammophone.Domos.Tests.Music.DataAccess.IMusicDomosDomainContainer" mapTo="Grammophone.Domos.Tests.Music.Cases.EntityFrameworkCore.EFCoreMusicTestDomainContainerAdapter">
				<constructor />
			</register>
			<register type="Grammophone.Domos.AccessChecking.IPermissionsSetupProvider" mapTo="Grammophone.Domos.Tests.Music.Logic.MusicPermissionsSetupProvider">
				<lifetime type="singleton" />
			</register>
		</container>
	</musicLogic>
</configuration>
